*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f5f4f0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}
